@page "/questionnaires/create"
@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService
@attribute [Authorize(Roles = "Admin")]

<h3>Crear Cuestionario</h3>

<QuestionnaireForm @ref="questionnaireForm" Questionnaire="questionnaire" OnValidSubmit="CreateAsync" ReturnAction="Return" />

@code {
    private Questionnaire questionnaire = new();
    private QuestionnaireForm? questionnaireForm;

    [CascadingParameter]
    BlazoredModalInstance BlazoredModal { get; set; } = default!;

    private async Task CreateAsync()
    {
        var httpResponse = await repository.Post("/api/questionnaires", questionnaire);
        if (httpResponse.Error)
        {
            var message = await httpResponse.GetErrorMessageAsync();
            await sweetAlertService.FireAsync("Error", message, SweetAlertIcon.Error);
            return;
        }

        await BlazoredModal.CloseAsync(ModalResult.Ok());
        Return();
    }

    private void Return()
    {
        questionnaireForm!.FormPostedSuccessfully = true;
        navigationManager.NavigateTo("/questionnaires");
    }
}
